@model List<Restaurante>

<h1>
    Restaurantes
</h1>

<a class="btn btn-primary" asp-action="Agregar">Agregar restaurante</a>
<div>
    <div>
        <div>
            <table class="table table-bordered" id="tabla-restaurantes-contenido">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Domicilio</th>
                        <th>Teléfono</th>
                        <th>Mesas</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="tabla-restaurantes">
                    @*@foreach (var restaurante in Model)
                        {
                            <tr class="row-@restaurante.Id">
                                <td>@restaurante.Id</td>
                                <td>@restaurante.Nombre</td>
                                <td>@restaurante.Domicilio</td>
                                <td>@restaurante.Telefono</td>
                                <td><a asp-action="Mesas" asp-route-id="@restaurante.Id">@restaurante.Mesas.Count</a></td>
                                <td>
                                    <a asp-action="Editar" asp-route-id="@restaurante.Id">Editar</a>
                                    <a href="#" class="ejecutar-eliminacion" data-id="@restaurante.Id">Eliminar</a>
                                </td>
                            </tr>
                        }*@
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts{
    <script>
    @*$('#tabla-restaurantes-contenido').on('click','.ejecutar-eliminacion', function (event) {
        event.preventDefault();
        //var id = $(this).attr('data-id');
        var id = $(this).data('id');
        //var IsConfirmed = confirm("Seguro que quieres eliminar este elemento?");
        recargarElementos();
        bootbox.confirm("Seguro que quieres eliminar este elemento?",
            function (IsConfirmed) {

        if (IsConfirmed) {
            // eliminar elemento
            $.ajax({
                url: '/api/restaurantes/' + id,
                type: 'DELETE',
                success: recargarElementos

            });
        }
     });
    });

    function recargarElementos() {
        // obtener elementos
        $.getJSON('/api/restaurantes/', function (data) {
            var rows;
            data.forEach(function (element) {
                var row = '<tr>'
                + '<td class="clase">' + element.NombreRestaurante + '</td>'
                + '<td>' + element.direccion + '</td>'
                + '<td>' + element.telefono + '</td>'
                + '<td><a href="@Url.Action("Mesas", "Index")/"' + element.id + '">' + element.cantidadMesas + '</a></td>'
                + '<td><a href="@Url.Action("Editar")/"' + element.id + '">Editar</a> <a href="#" data-id="' + element.id + '" class="ejecutar-eliminacion">Eliminar</a></td>'
                + '</tr>';

                rows += row;
            });

            $('#tabla-restaurantes').html(rows);
        });
    }*@

    $(document).ready(function () {
       var table = $('#tabla-restaurantes-contenido').DataTable({
           ajax: {
               url: '/api/restaurantes',
               dataSrc: ''
           },
           columns: [
               { data: 'id' },
               { data: 'nombre' },
               { data: 'domicilio' },
               { data: 'telefono'},
               {
                   data: 'mesas',
                   render: function (data, type, row) {
                       return '<a href="@Url.Action("Mesas")/' + row.id + '">' + data + '</a>'
                   }
               },
           ],
            select: true,
            dom: 'Bfrtip',
            buttons: [
                'copy', 'excel', 'pdf',
                {
                    text: 'Eliminar',
                    action:
                        function () {
                        var rows = table.rows({ selected: true }).data();

                        var ids = [];
                        console.log(ids.length);
                        for (var x = 0; x < rows.length; x++) {
                            ids.push(rows[x].id);
                            }
                        bootbox.confirm("Seguro que quieres eliminar este elemento?",
                        function (IsConfirmed) {
                            $.ajax({
                                url: '/api/restaurantes/',
                                data: '[' + ids.toString() + ']',
                                contentType: 'application/json',
                                type: 'DELETE',
                                success: function () {
                                    table.ajax.reload();
                                }
                            })
                        });
                    }

                }
            ]
        });
    });
    //table.buttons().container()
    //    .appendTo($(;
    </script>
}