@model List<Mesa>
@*<a asp-action="AgregarMesa" asp-route-restaurante="@ViewData["restauranteId"]">Agregar mesa</a>*@
@*<table>
        @foreach (var mesa in Model)
        {
            <tr>
                <td>@mesa.Identificador</td>
                <td>@mesa.Capacidad</td>
            </tr>
        }
    </table>*@

<a class="btn btn-primary" style="color:white;" onclick="MostrarAgregar()">Agregar mesa</a>

<table class="table table-bordered" id="tabla-mesas-contenido">
    <thead>
        <tr>
            <th>ID</th>
            <th>Identificador</th>
            <th>Capacidad</th>
            <th>edit</th>
        </tr>
    </thead>
    <tbody id="tabla-mesas">
    </tbody>
</table>






<!-- Modal Par a Agregar -->
<div class="modal fade" id="agregarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalCuerpo">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="GuardarMesa()">Guardar</button>
            </div>
        </div>
    </div>
</div>

<!---Modal Para Editars-->
<div class="modal fade" id="editarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalEditarCuerpo">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btnEditarModal" data-dismiss>Guardar editar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
        <script>

    function MostrarAgregarMesa() {
        var req = new XMLHttpRequest();
        req.open("GET", "@Url.Action("AgregarMesa", "Home")", true);
            req.send();
        req.onreadystatechange = function () {
            if (req.status==200) {
                document.getElementById("modalCuerpo").innerHTML = req.responseText;
                $('#agregarModal').modal("show");//Jquery
            }
        }
    };
        function GuardarMesa() {
        var RestauranteId = @ViewData["RestauranteId"];
        var Identificador = document.getElementById("Identificador").value;
        var Capacidad = document.getElementById("Capacidad").value;
        var fd = {};
        fd["Identificador"] = Identificador;
        fd["Capacidad"] = Capacidad;
        fd["RestauranteId"] = RestauranteId;
        fetch("/Api/mesas/", {
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(fd)
        }).then(function (response) {
            if (response.ok) {
                $("#agregarModal").modal("hide");//JQUERY
                table.ajax.reload();
            }
        });
    }
    var table;
    $(document).ready( function () {
            table = $('#tabla-mesas-contenido').DataTable({
            ajax: {
                url: '/api/mesas/@ViewData["restauranteId"]',
                dataSrc: '',
            },
            columns: [
                { data: 'id' },
                {data: 'identificador' },
                {data: 'capacidad' },
                {
                    render: function (data, type, row) {
                        return '<a class="btn btn-outline-dark" href="@Url.Action("EditarMesa")/' + row.id + '">Editar</a>'
                    }
                }
            ],
            select: true,
            dom: 'Bfrtip',
            buttons: [
                'copy', 'excel', 'pdf',
                {
                    text: 'Eliminar',
                    action: function () {
                        var rows = table.rows({ selected: true }).data();
                        var ids = [];
                        for (var x = 0; x < rows.length; x++) {
                            ids.push(rows[x].id);
                        }
                         $.ajax({
                             url: '/api/mesas',
                             data: '[' + ids.toString() + ']',
                             contentType: 'application/json',
                            type: 'DELETE',
                             success: function () {
                                 table.ajax.reload();
                             }
                         });
                        console.log(ids);
                    }
                }
            ]
        });
    //    table.buttons().container()
    //.appendTo( $('.col-sm-6:eq(0)', table.table().container() ) );
    } );
        </script>
    }